In [1]:
#1
name = {'Ashok','Anbu','sakthi','Barathu'}

a = set()
b = set()

for i in name:
    if i.startswith('A'):
        a.add(i)
    elif i.startswith('B'):
        b.add(i)
    
print(f' Names start with A letter : {a}')
print(f' Names start with B letter : {b}')

 Names start with A letter : {'Anbu', 'Ashok'}
 Names start with B letter : {'Barathu'}

In [7]:
#2 
items = [('Apple', 5.6),('Banana',19.5),('Mango',16.3)]
print(items)

for item, price in items: 
        print(f'{item}:${price:.2f}')

[('Apple', 5.6), ('Banana', 19.5), ('Mango', 16.3)]
Apple:$5.60
Banana:$19.50
Mango:$16.30

In [4]:
#3

a = []

while True:
    b = int(input('Enter the values: '))
    a.append(b)
    a.sort()
    
    if b == 0 :
        break
print(a)

for i in a:
    print(i)

Enter the values: 56
Enter the values: 6
Enter the values: 2
Enter the values: 3
Enter the values: 0
[0, 2, 3, 6, 56]
0
2
3
6
56

In [14]:
#4
b = []
a = input('Enter the values: ')
a = a.split(' ')
if  len(a)  > 5:
    for i in a:
        b.append(int(i))
        c = sorted(b)
        
    print('the remove small  &  large 2 values remove',c[2:-2])
    print('This is a origial list',c)
else:
    print('ERROR: please check the code')

Enter the values: 66 77 88 55 66 22
the remove small  &  large 2 values remove [66, 66]
This is a origial list [22, 55, 66, 66, 77, 88]

In [2]:
#5

b = set()
while True:
    a = input('Enter the letter:')
    if a == '':
        break
    b.add(a)
for a in b:
     print(a)

Enter the letter:sakthi
Enter the letter:maya
Enter the letter:kishore
Enter the letter:
kishore
maya
sakthi

In [3]:
#6

b = []
z = 0
while True:
    a = float(input('Enter the letter:'))
    if a == 0:
         break
    b.append(a)
    z += a
average = z / len(b)
c = [] ## below
d = [] ## equal
e = [] ## above
for i in b:
    if i < average:
        c.append(i)
    elif i == average:
        d.append(i)
    else:
        e.append(i)
    
    
print('below values:',c)
print('average values:',d)
print('above values:',e)

Enter the letter:2
Enter the letter:2
Enter the letter:2
Enter the letter:0
below values: []
average values: [2.0, 2.0, 2.0]
above values: []

In [4]:
#7
a = input('Enter the charater: ')
b = {}
for char in a :
    b[char] = True
    
print('this is unique value: ',len(b))

Enter the charater: sakkthi
this is unique value:  6

In [2]:
#8
str1 = input('Enter the values: ')  
str2 = input('Enter the values: ')
if(sorted(str1)== sorted(str2)):
    print("Both strings are an Anagram.")
else:
    print("Both strings are not an Anagram.")

Enter the values: evil
Enter the values: live
Both strings are an Anagram.

In [2]:
#9

a = int(input('Enter the values: '))
s = 0

for i in range(1,a):
    if a % i == 0:
        s += i
        print('perfect number')
        break
    if  a <= 0:
        print('not perfect number')

Enter the values: 28
perfect number

In [9]:
#10
dic = {'TAMILNADU': 'SALEM'}

print(dic)

{'TAMILNADU': 'SALEM'}

In [10]:
for state in dic:
    print(state,end=',')
    print(dic[state])
    
for cap in dic:
    print(cap)
    
for c in dic.values():
    print(c)

for c in dic.keys():
    print(c)
for c in dic.items():
    print(c)

TAMILNADU,SALEM
TAMILNADU
SALEM
TAMILNADU
('TAMILNADU', 'SALEM')