In [29]:
import sqlite3

In [30]:
 #1
con = sqlite3.connect('temp_db.db')
cur = con.cursor()
con.commit()

In [31]:
#2
def table():
    con = sqlite3.connect('temp_db.db')
    cur = con.cursor()
    cur.execute('create table if not exists emp(empno integer,ename text,salary decimal,deptno integer)')
    con.commit()

In [32]:
table()

In [33]:
#3
def insert(n,a,s,d):
    con = sqlite3.connect('temp_db.db')
    cur = con.cursor()
    cur.execute('insert into emp values(?,?,?,?)',(n,a,s,d))
    con.commit()
    con.close()

In [34]:
insert(101,'Siva',24500,1)
insert(102,'Mayan',15500,2)
insert(103,'John',14500,1)
insert(104,'Sri',26500,2)
insert(105,'Kumar',26000,2)

In [35]:
#4
def view():
    con = sqlite3.connect('temp_db.db')
    cur = con.cursor()
    cur.execute('select * from emp')
    row = cur.fetchall()
    con.commit()
    con.close()
    return row

In [36]:
view()

[(101, 'Siva', 24500, 1),
 (102, 'Mayan', 15500, 2),
 (103, 'John', 14500, 1),
 (104, 'Sri', 26500, 2),
 (105, 'Kumar', 26000, 2)]

In [37]:
#5
def view1(s,d):
    con = sqlite3.connect('temp_db.db')
    cur = con.cursor()
    cur.execute('select * from emp where salary > ? and deptno = ?',(s,d))
    row = cur.fetchall()
    con.commit()
    con.close()
    return row

In [38]:
view1(15000,10)

[]

In [39]:
#6
def view2(s,sal,d):
    con = sqlite3.connect('temp_db.db')
    cur = con.cursor()
    cur.execute('select * from emp where salary >= ? and salary <= ? and deptno != ?',(s,sal,d,))
    row = cur.fetchall()
    con.commit()
    con.close()
    return row

In [40]:
view2(20000,25000,10)

[(101, 'Siva', 24500, 1)]

In [41]:
#7
def view3():
    con = sqlite3.connect('temp_db.db')
    cur = con.cursor()
    cur.execute('select * from emp where ename LIKE "M%" ')
    row = cur.fetchall()
    con.commit()
    con.close()
    return row

In [42]:
view3()

[(102, 'Mayan', 15500, 2)]

In [43]:
#8
def delete(n):
    con = sqlite3.connect('temp_db.db')
    cur = con.cursor()
    cur.execute('delete from emp where deptno = ?',(n,))
    row = cur.fetchall()
    con.commit()
    con.close()
    return row

In [44]:
delete(30)

[]

In [45]:
#9
def update(n1,n2):
    con = sqlite3.connect('temp_db.db')
    cur = con.cursor()
    cur.execute('update emp set salary = salary * ? where empno = ?',(n1,n2))
    row = cur.fetchall()
    con.commit()
    con.close()
    return row

In [46]:
update(0.1,102)

[]

In [47]:
view()

[(101, 'Siva', 24500, 1),
 (102, 'Mayan', 1550, 2),
 (103, 'John', 14500, 1),
 (104, 'Sri', 26500, 2),
 (105, 'Kumar', 26000, 2)]

In [26]:
def delete():
    con = sqlite3.connect('temp_db.db')
    cur = con.cursor()
    cur.execute('delete from  emp')
    row = cur.fetchall()
    con.commit()
    con.close()
    return row

In [27]:
delete()

[]